/* Write your CSS code here */
.nav-header {
  height: 25vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: #ffffff;
}
.nav-menu {
  list-style-type: none;
  display: flex;
  margin-left: -40px;
}

.nav-link {
  text-decoration: none;
  margin: 5px;
  color: #12022f;
  font-family: 'Roboto';
  font-weight: bolder;
}

.logo {
  margin-top: 5px;
  width: 45%;
  height: 35%;
}
.logo-container {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
}
.blog-container {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}
.blog-title {
  font-family: 'Roboto';
  color: white;
  font-size: 16px;
}
.sub-title {
  color: white;
  font-family: 'Roboto';
  margin-top: 0px;
}

li {
  list-style-type: none;
  text-decoration: none;
  margin: 10px;
  color: white;
  font-family: 'Roboto';
  cursor: pointer;
}

@media screen and (min-width: 575px) {
  .blog-title {
    font-family: 'Roboto';
    color: white;
    font-size: 34px;
  }
}
